<html>
<head><title>CSRF Example 2 - With Protection - No Token</title></head>
<body>
<h1>CSRF Example 2 - With Protection - No Token</h1>
<form action="/protect/csrfPost2" method="post" id="login">
    <p>Enter withdrawal amount:</p>
    <input type="text" size="5" name="amount" value="5000">
    <p><button type="submit">Submit</button></p>
</form>
</body>
</html>