<html>
<head>
    <title>CSRF Example</title>
</head>
<body>
    <h1>CSRF Example</h1>
    <p>1. <a href="/csrfInput1">Post Without Protection</a></p>
    <p>2. <a href="/protect/csrfInput2">Post With CSRF Protection</a></p>
    <p>3. <a href="/protect/csrfInput3">Post To Protected Handler Without Token</a></p>
    <p></p>
    <p>Current balance : ${{.Balance}}
</body>
</html>