<html>
<head><title>CSRF Example - No Protection</title></head>
<body>
<h1>CSRF Example 1 - No Protection</h1>
<form action="/csrfPost1" method="post" id="login">
    <p>Enter withdrawal amount:</p>
    <input type="text" size="5" name="csrfInput1" value="5000">
    <p><button type="submit">Submit</button></p>
</form>
</body>
</html>