<html>
<head>
    <title>SQL Injection Example - Posted Input</title>
</head>
<body>
    <h1>SQL Injection Example - Posted Input</h1>
    <p>1. <a href="/sqlInput1">Unprotected Query for Contacts by ID</a></p>
    <p>2. <a href="/sqlInput2">Protected Query for Contacts by ID</a></p>
</body>
</html>