<html>
<head>
    <title>XSS Example - Posted Input</title>
</head>
<body>
    <h1>XSS Example - Posted Input</h1>
    <p>1. <a href="/xssInput">Create Some Malicious Input</a></p>
    <p>2. <a href="/xssView1">View Raw Input With Text Template</a></p>
    <p>3. <a href="/xssView2">View Input Protected With HTML Template</a></p>
</body>
</html>